body {   
    height: 100vh;
}

/* Links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {     
    /* 
        a propriedade 'gap' é aplicavel quando utilizamos o 'display: flex'
            ele coloca espaço entre os elementos flex.
        a propriedade 'align-items: center' coloca todos os itens 
            centralizados horizontalmente (eixo x).
        a propredade 'justify-content: center' coloca todos os itens
            centralizados verticalmente (eixo y).  
    */
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    
    /* 
        -webkit- é um prefixo que alguns browsers vão utilizar 
            para poder aplicar a propriedade. 
    */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

/* ':hover' = pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

ul li ion-icon {
    padding-left: 5px;
}